body {
    font: 20px arial;
    text-align: center;
}

table {
    width: 700px;
    height: 480px;
    border: 1px solid black;
    margin: 0 auto;
    border-collapse: collapse;
}

th {
    width: 100px;
    height: 60px;
    border: 1px solid black;
}

td {
    width: 100px;
    height: 60px;
    border: 1px solid black;
}
